$primary: #3a6ea5
$secondary: #c0c0c0
    
.avatar-picker
    height: 100%
    width: 50%
    background-color: $secondary !important
    color: $primary
    margin: auto
    margin-top: 25vh
    text-align: center
    border: 0px solid white !important

.avatar-picker-header
    padding: 5%
