/*This is a styles sheets for all the forms in the app*/
$primary: #3a6ea5
$text: #ebebeb

/*Login Form*/

.login-form, .signup-form
    margin-top: 8vh
    margin-left: auto !important
    margin-right: auto !important
    width: 35% !important
    text-align: center

.login-content, .signup-content
    h2 
        padding: 5%
        color: $primary
        font-size: 28px

    button
        margin: 5%
        background-color: $primary
        color: $text

    h5 
        color: $primary

    .login-input-props, .signup-input-props
        color: $primary !important

    .login-input-props::placeholder, .signup-input-props::placeholder
        color: green !important


/*media querries*/
@media screen and ( max-width: 1000px )
    .login-form, .signup-form
        width: 65% !important
        
@media screen and ( max-width: 600px )
    .login-form, .signup-form
        width: 80% !important
